<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/babel.min.js"></script>    
  </head>
  <style>
    .mauxanh{background-color: green;}
  </style>
  <body>
    <h1>DORE company</h1>
    <div id="root"></div>
    <div id="app">
    <script src="xuly.js" type="text/babel">
    </script>
  </body>
</html>
