<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ví dụ 2</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/babel.min.js"></script>
    <link rel="stylesheet" href="layout.css">
  </head>
  <body>
    <div id="root"></div>
    <script src="js/vidu2.js" type="text/babel">
    </script>
  </body>
</html>
